*{
	scroll-behavior: smooth;
	padding: 0;
	box-sizing: border-box;
}



.background {



	background-image: url("grass2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-size: cover;
	
	
}



/* -----------------   TOP NAVI MENU ---------------*/

.container-navi{
	
	width: 1140px;
	margin-left: auto;
	margin-right: auto;

	z-index: 1;

}

.top-title{
	top: 0;
	

	color: black;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	
	margin-top: 10px;
	margin-bottom: 10px;

	z-index: 1;
	
	

	
}



.links{
	
}

.links a,
.links a:link {

font-family: 'Segoe UI', sans-serif;
  background-color: transparent;
	color: #363636;
	border-bottom: 2px solid transparent;
  
  padding: 10px 20px;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

.links a:hover,
.links a:active {
  border-bottom: 2px solid green;
 
  color: green;
}
	
	
.top-navi-background {
	
	position: fixed;
	
	width: 100vw;
	left: calc(-50vw + 50%);
	top: 0;
	z-index: 1;
    
	
	background-color: white;
	 
	border-bottom: 1px solid green;
   /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);*/
  
	
}
	
	
	
	



/* -----------------   MAIN - POSTS  ---------------*/


.container {
	
  
	margin-top: 120px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	
}

.main{
	
	background-color: transparent;
	
	padding: 15px;
	margin: 0;
}



.post {
	

}

.post-background{

	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	
	background-color: white;
  background-position: center;
	background-size: cover;
	
	 
	padding-top: 5px;
	padding-bottom: 5px;
	

}


.post-container{
	
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}


.paragraph {
	color: gray;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	line-height: 1.6;
	
	margin-top: 20px;
	margin-bottom: 20px;
}


h2 {
	
	color: green;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	
	margin-top: 20px;
	margin-bottom: 20px;
	
}


:target:before {
content:"";
display:block;
height:160px; 
margin:-160px 0 0; 
}

.map {
padding: 5px;
border: 1px black;

    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}


	
/* -----------------   FOOTER     ---------------*/
	


.footer{
	
	color: white;
	right: 0;
	left: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid grey;
}

.footer a,
.footer a:link,
.footer a:visited {

font-family: 'Segoe UI', sans-serif;
  background-color: transparent;
  color: white;
  
 
  padding: 10px 5px;
  margin: 3px 5px;
  
  text-align: center;
  text-decoration: none;
 
  
}
.footer a:hover,
.footer a:active {
  
 
  color:rgb(209, 209, 209);
}